<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{UNIT_TITLE}}</title>
  <link rel="stylesheet" href="/pre_quraan/shared/css/arabic-tiles.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/core-lesson-layout.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/stepper-lecture.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/overrides.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/child-message.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/sound-modal.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/unit-canvas.css">
  <link rel="stylesheet" href="/pre_quraan/shared/css/communications.css?v=comm-dashboard-20260508">
  <link rel="stylesheet" href="./unit.css">
</head>
<body data-unit="{{UNIT_KEY}}">
  <div id="app"></div>
  <script src="/pre_quraan/shared/js/shared-config-normalizer.js"></script>
  <script src="/pre_quraan/shared/js/shared-communications-panel.js?v=comm-dashboard-20260508"></script>
  <script src="./unit.messages.js"></script>
  <script src="./unit.config.js"></script>
  <script src="./unit.runtime.js"></script>
</body>
</html>


